.content {
  width: 80rem;
  margin: auto;
}

.jumbotron {
  background-color: #0541b1;
  color: #fff;
}

.table th {
  cursor: pointer;
}

.table td:nth-child(6) {
  width: 10rem;
}

.table td:nth-child(1){
  width: 25rem;
}

.table th:hover {
  color: #696969;
}

.table tr :nth-child(3) {
  text-align: center;
}

.summary {
  width: 100%;
  height: 5px;
}


.summary span.amount {
  background-color: #0541b1;
  border-radius: 10%;
}

