.content {
  width: 80rem;
  margin: auto;
}

.jumbotron {
  background-color: #1f1f1f;
  color: #fff;
}

.table th {
  cursor: pointer;
}

.table td:nth-child(6) {
  width: 10rem;
}

.table td:nth-child(1){
  width: 25rem;
}

.table th:hover {
  color: #696969;
}

.table tr :nth-child(3) {
  text-align: center;
}

.summary {
  font-weight: bold;
  width: 29rem;
  position: absolute;
  top: 11.8rem;  
  right: 0px;
}

.summary span.test {
  font-size: 17px !important;
  color: #fff;
}

.summary span.amount {
  background-color: rgb(103, 121, 255);
  border-radius: 20%;
  text-align: center;
  position: relative;
  left: 1rem;
  padding: 10px 10px;
  font-size: 1.3em;
}
